/* Global */
article, footer, header, nav {display: block}
body {
    font: 16px Lato, serif;
    background: #FFF url(/images/home.png) no-repeat center 15px;
    padding: 115px 0.5% 0;
    max-width:960px;
    margin: 0 auto
}

a {
    color: #1E46BE;
    text-decoration: none
}
a:hover {
    color: #06F;
    text-decoration: underline
}
.center {
    text-align: center;
}
.profiles {
    margin: 0;
    padding: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.profiles li {
    list-style: none;
    display: inline-block;
    font-size: 40px;
    width: 200px;
    vertical-align: top;
}
.profiles a {
    color: #4E4E4E;
    text-decoration: none;
    font-weight: 300;
}
.profiles a:hover, .profiles a:focus {
    color: #222;
}
.profiles small {
    display: block;
    font-size: 16px;
    line-height: 16px;
}

#content {margin: 10px auto 30px; max-width: 860px; padding: 10px 5px}

h1, h1>a, h1>a:hover {
    font-size: 30px;
    text-align: center;
    color: #900;
    text-shadow: #DDD 2px 2px 2px;
    margin: 1em 0 0.5em;
    font-weight: 300;
}
h1 {font-size: 30px; margin-top: 0.5em}

p {margin: 10px 0; line-height: 1.4}
img {vertical-align: middle; margin: 5px 0}
small {font-size:0.8em, color: #666}
small a {color: #76F}
input, select {font-family: inherit; color: #222; border:1px solid #888; border-radius: 5px; background: #FAFAFA; box-shadow: inset #CCC 0 0 2px}
input, label, select {vertical-align:middle; padding: 5px}
input:focus {background: #FFF; box-shadow: #AAA 0 0 8px}

input[type="submit"] {border:1px solid #888; border-top:none; border-left: none}
input[type="submit"]:hover {background: #D2C0D8; cursor: pointer}
input[type="submit"]:active {border:1px solid #888; border-bottom:none; border-right: none}

.alert {
    padding: 2em;
    margin: 2em 0;
    background: #fff2bc;
}
